

<div>   
    <div class="page-title clearfix">
        <div class="navbar-header">       
          <a class="navbar-brand" ui-sref="checklist"><i class="fa fa-car"></i>&nbsp;Checklist</a><div class="solution">>>>&nbsp;Create</div>
        </div>  
    </div>
    <div class="modal-body">
        <form name="chkForm" id="chkForm" novalidate>
            <div class="panel">
                <div class="panel-body">
                    <div class="row show-hide-message" style="margin: 10px 96px;" ng-show= successMsg>
                        <div class="alert alert-success">{{successMsg}}</div>
                    </div>
                    <div class="row show-hide-message" style="margin: 10px 96px;" ng-show= errorMsg>
                        <div class="alert alert-danger">{{errorMsg}}</div>
                    </div>
                    <div class="row">  
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="example">Checklist Name</label>
                                <input type="text" class="form-control" ng-model='checklist.checklist_item' id="checklist_item" placeholder="Checklist Name" name="checklist_item" required>
                                <p class="help-block" ng-show="(!chkForm.checklist_item.$pristine && chkForm.checklist_item.$error.required) || (chkForm.$submitted && chkForm.checklist_item.$error.required)" style="color: red">This field is required</p>
                            </div>
                            <div class="form-group">
                                <label for="example">Checklist Status</label>
							    <div class="radio">
								    <label style="padding-right: 5px;">
									     <input type="radio" ng-model="checklist.checklist_status" value="Active">Active
								    </label>
							        <label style="padding-right: 5px;">
								        <input type="radio" ng-model="checklist.checklist_status" value="Deactive">Deactive	
							        </label>
						        </div>
						    </div>   
                        </div>
                    </div>
                </div>
            </div>    
        </form> 
    </div>
    <div class="modal-footer">
        <button class="btn btn-default btn-rounded" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary btn-rounded" ng-click="addChecklist(chkForm.$valid, chkForm)">Save</button>
    </div>       
</div>