<div class="striped-bg" id="sidenav" ng-controller="TabsDemoCtrl">
    <div id="navTabs">
        <div class="sidebar-controllers sidebar-top-nav">
            <div justified="true">
                <div active="tabActive[0]">
                    <div class=" hidden-xs">
                        <a class="toggle-menu" ng-click="menuToggle()"><i class="fa fa-chevron-left fa-2x left-chevron"></i>
                        <i class="fa fa-chevron-right fa-2x right-chevron"></i>
                        </a>
                    </div>  
                </div> 
                <menu></menu>
            </div> 
            <!-- <tabset justified="true">
                <tab >
                    <tab-heading><i class="fa fa-bars"></i></tab-heading>
                        <div class=" hidden-xs">
                            <a class="toggle-menu" ng-click="menuToggle()"><i class="fa fa-chevron-left fa-2x left-chevron"></i>
                            <i class="fa fa-chevron-right fa-2x right-chevron"></i>
                            </a>
                        </div>
                    <menu></menu>
                </tab>
            </tabset> -->             
        </div>
    </div> 
</div>