<div>
    <div class="modal-header">
        <h3 class="modal-title">State </h3>
    </div>
    <div class="col-md-12 modal-body">
        <div class="form-group">
            <label for="Country">Country :</label>
            <select class="form-control" ng-model="data.country">
                <option value="">Select Country</option>
                <option ng-repeat="countryDetail in countries" value="{{countryDetail._id}}">{{countryDetail.country}}</option>
            </select>   
        </div>
        <table class="table table-condensed table-bordered table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Id</th>
                    <th>State</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="stateDetail in state | filter: data.country">
                    <td>{{$index + 1}}</td>
                    <td>{{stateDetail._id}}</td>
                    <td>{{stateDetail.stateName}}</td>
                    <td>
                        <button class="btn btn-info btn-rounded" ng-click="ok()">Update</button>
                        <button class="btn btn-warning btn-rounded" ng-click="removeState(stateDetail._id)">Delete</button>
                        
                    </td>
                </tr> 
            </tbody>
            <thead>
                <tr>
                    <button class="btn_filter btn btn-md dropdown-toggle" ng-click="addState()">+Add State</button>
                </tr>
            </thead>
        </table>
                    
    </div>
    <div class="modal-footer">
         <button class="btn btn-default btn-rounded" ng-click="cancel()">X</button>
        <!--<button class="btn btn-primary btn-rounded" ng-click="ok()">Update</button> -->
    </div> 
</div>