<div class="conter-wrapper">
	<div class="row">
		<div ng-repeat="vehicle in vehicles | filter:searchText | startFrom:currentPage*pageSize | limitTo:pageSize " class="col-md-4 view_summry">
            <div class="panel">
                <div class="panel-body img_setting">
                    <div class="img_div">
                        <img class="img-responsive img-thumbnail pull-left" src="images/{{vehicle.vehicle_img[0].image}}" alt=""> 
                        <!-- style="width: 74px; height: 74px;" -->
                    </div>
                    <div class="u_detailpanel">
                        <h4 ng-click="viewVehicle(vehicle._id)" style="cursor: pointer;">{{vehicle.vehicle_num}}</h4>
                        <div class="u_detail">
                            <span>{{vehicle.manufacturer}}-{{vehicle.model}}</span>
                        </div>
                        <div class="u_detail">
                            <span>{{vehicle.last_owner}}</span>
                        </div>
                    </div>
                    <div class="thumbnail_btn">
                        <ul>
                            <li><button class="btn btn-rounded btn-warning Nav_btn"><a href ng-click="viewVehicle(vehicle._id)" style="color: #fff;">View</a></button></li>
                            <li><button class="btn btn-rounded btn-primary Nav_btn"><a href ng-click="editVehicle(vehicle._id)" style="color: #fff;">Edit</a></button></li>
                            <li><button class="btn btn-rounded btn-success Nav_btn"><a href ng-click="historyVehicle(vehicle._id)" style="color: #fff;" >History</a></button></li>
                        </ul>
                    </div>
                </div> 
            </div>
        </div>   
	</div>
</div>
<div class="pagination" >
   <ul class="pager no-m-t">
        <li><button class="btn btn-warning btn-rounded" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">Previous</button></li>
        {{currentPage+1}}/{{numberOfPages()}}
        <li><button class="btn btn-warning btn-rounded" ng-disabled="currentPage >= getData().length/pageSize - 1" ng-click="currentPage=currentPage+1">Next</button></li>
    </ul>
</div>