<style type="text/css">
	.Nav_btn{
    padding: 6px 15px;
    color: #fff; 
    margin-top: 16px; 
    border: none; 
    margin-right: 15px;
	}
	.panel .panel-body{
		background: #eee;
	}
</style> 
<div class="page-title clearfix">
  	<div class="navbar-header">       
        <a class="navbar-brand" ui-sref="orders"><i class="fa fa-list"></i>&nbsp;Order</a> 
        <div class="solution">>>>&nbsp;</i>edit</div>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right top-nav">
            <li>
                <a href class="dropdown-toggle admin-toggle" ng-click="infoOrder()">
                <i class="fa fa-info"></i>&nbsp;<span class="add">info</span>
                </a>                  
            </li>
        </ul>
    </div>
    <div class="right-admin right-admin_toggle mobile_visible">
        <ul>
            <li ng-show="editPermission" style="float: left;"><a href class="dropdown-toggle admin-toggle" ng-click="infoOrder(orders._id)"><i class="fa fa-info"></i></a></li>
        </ul>
    </div>
</div>
<div class="row show-hide-message" style="margin: 10px 96px;" ng-show= successMsg>
	<div class="alert alert-success" style="margin-top: 10px;">{{successMsg}}</div>
</div>
<div class="row show-hide-message" style="margin: 10px 96px;" ng-show= errorMsg>
	<div class="alert alert-danger" style="margin-top: 10px;">{{errorMsg}}</div>
</div>
<div style="padding: 15px;background: #eee;display: inline-block;width: 100%;">
	<div class="page-title" style="color: #555;display: inline-block;padding: 0px;
	    border-top: 0px;width: 100%;background: #fff;">
	    <tabset class="primary-tabs" style="background-color: #eee !important; ">
	        <tab ng-attr-active="general">
	            <tab-heading>General</tab-heading>
	            <form>
	            <div class=" col-md-6 t-p">
	                <div class="panel">
					    <div class="panel-body">
						    <div class="form-group">
								<label for="vehicle_Detail">VEHICLE DETAILS</label>
							</div>
							<div class="form-group">
								<input type="text" class="form-control underline" id="vehicle_num" ng-model="orders.vehicle_num" placeholder="Enter Vehicle Number*">
							</div>
							<div class="form-group">
								<input type="text" class="form-control underline" id="vehicle_brand" ng-model="orders.vehicle_brand" placeholder="Enter Vehicle Brand*">
							</div>
							<div class="form-group">
								<input type="text" class="form-control underline" id="vehicle_model" ng-model="orders.vehicle_model" placeholder="Enter Vehicle Model*">
							</div>
							<div class="form-group">
	                            <div class="col-md-12">
	                                <img class="img-responsive img-thumbnail pull-centar" style="width: 170px; height: 170px;" src="images/{{orders.vehicle_img}}" alt="">
	                            </div>
	                            <div class="col-md-6">
	                                <input type="file" class="form-control" file-Model="orders.myFile" id="vehicle_img"> 
	                            </div>
	                            <div class="col-md-6">
	                                <button class="btn btn-default btn-rounded" ng-click="uploadImage()">Upload</button> 
	                            </div>  
	                        </div>
					    </div>
				    </div>
	            </div>
	            <div class=" col-md-6 t-p">
	                <div class="panel">
					    <div class="panel-body">
						    <div class="form-group">
								<label for="exampleInputPassword1">CLIENT DETAILS</label>
							</div>
							<div class="form-group">
								<input type="text" class="form-control underline" id="vehicle_owner_full_name" ng-model="orders.vehicle_owner_full_name" placeholder="Enter Full Name*">
							</div>
							<div class="form-group">
								<input type="text" class="form-control underline" id="owner_email" ng-model="orders.vehicle_owner_email" placeholder="Enter Email Address*">
							</div>
							<div class="form-group">
								<input type="text" class="form-control underline" id="owner_phone" ng-model="orders.vehicle_owner_phone_num" placeholder="Enter Phone Number*">
							</div>
					    </div>
				    </div>
	            </div>
	            </form>
	            <div class=" col-md-12 col-sm-12 col-xs-12 t-p">
	                <div class="modal-footer">
	                    <button class="btn btn-primary btn-rounded" ng-click="goToSecond()">Next</button>
	                </div>
	            </div>
	        </tab>
	        <tab ng-attr-active="checklist">
	        	<tab-heading>Checklist</tab-heading>
	        	    <div class="col-md-12 col-sm-12 col-xs-12">
	        		<div class="row">
	        			<div class="col-md-3 t-p" ng-repeat="checklist in orders.checklists"> 
	                        <div class="panel"  >
					            <div class="panel-body">
					                <div ng-show="false" class="form-group" style="border-bottom: 1px solid #e5e5e5;">
								        <label>{{$index+1}}</label> 
							        </div>
						            <div class="form-group" style="border-bottom: 1px solid #e5e5e5;">
								        <a ng-bind='checklist.checklist_item'></a>
							        </div>
							        <div class="form-group">
								        <div class="radio">
									        <label style="padding-right: 5px;">
										        <input type="radio" ng-change="show(checklist.checklist_id)" ng-model="checklist.checklist_item_condition" value="Critical">Critical
									        </label>
								            <label style="padding-right: 5px;">
									            <input type="radio" ng-change="show(checklist.checklist_id)"  ng-model="checklist.checklist_item_condition" value="Warm">Warm		
								            </label>
								            <label style="padding-right: 5px;">
									            <input type="radio" ng-model="checklist.checklist_item_condition" value="Good">Good
									         </label>
								        </div>
							        </div>
							        <div class="form-group">
								        <label for="description">Notes:</label>
	                                    <textarea class="form-control" rows="4" ng-model="checklist.checklist_item_notes"  ng-show="checklist.checklist_item_condition"></textarea>
	                                   <!-- <p>{{date}}</p> 
	                                   <input type="text" ng-model="checklists.last_updt_date" ng-show="checklist.checklist_item_condition"/> -->
							        </div>
					            </div>
				            </div>
	                    </div>   
	        		</div>
	        		<div class=" col-md-12 col-sm-12 col-xs-12 t-p">
		                <div class="modal-footer">
		                    <button class="btn btn-default btn-rounded" ng-click="goToFirst()">Back</button>
		                    <button class="btn btn-primary btn-rounded" ng-click="goToThird()">Next</button>
		                </div>
		            </div>
	        	</div>
	        </tab>
	        <tab ng-attr-active="task">
	        	<tab-heading>Task</tab-heading>
	        	<div class="col-md-4 t-p" ng-repeat="item in orders.tasks">
	                <div class="panel">
					    <div class="panel-body">
						<form>
						<!-- ng-model="item.order_tasks_id" -->
						    <div class="form-group">
				                <input ng-show="false" type="text" class="form-control underline" ng-model="item.order_tasks_id" placeholder="Task id">
							</div>
							<div class="form-group">
								<input type="text" class="form-control underline" ng-model="item.description" placeholder="Enter Task Description">
							</div>
							<div class="form-group">
								<input type="text" class="form-control underline" ng-model="item.inventory_desc" placeholder="Enter inventory Detail">
							</div>
							<div class="form-group">
								<input type="text" class="form-control underline" ng-model="item.cost_price" placeholder="Enter Cost Price">
							</div>
							<div class="form-group">
								<input type="text" class="form-control underline" ng-model="item.sell_price" placeholder="Enter Selling Price">
							</div>
							<div class="form-group">
								<div class="radio">
									<label style="padding-right: 5px;">
										 <input type="radio" ng-model="item.task_status" value="Open">Open
									</label>
								    <label style="padding-right: 5px;">
									    <input type="radio" ng-model="item.task_status" value="Complete">Complete		
								    </label>
							    </div>
							</div>
							<div class="form-group"> 
							    <input type="date" class="form-control underline" ng-model="item.start_date"/>
							</div>
							<div class="form-group"> 
							    <input type="date" class="form-control underline" ng-model="item.end_date"/>
							</div>
						    <!-- <div class="form-group">
	                            <div class="col-md-12">
	                                <img class="img-responsive img-thumbnail pull-centar" style="width: 170px; height: 170px;" src="images/{{item.task_img}}" alt="">
	                            </div>
	                            <div class="col-md-6">
	                                <input type="file" class="form-control" file-Model="orders.myFile" id="vehicle_img"> 
	                            </div>
	                            <div class="col-md-6">
	                                <button class="btn btn-default btn-rounded" ng-click="uploadTaskImage()">Upload</button> 
	                            </div>  
	                        </div> -->
	                        <div class=" col-md-12 col-sm-12 col-xs-12 t-p" style="text-align: center; border-top: 1px solid #06c5ac;">
	                            <div class="row">
	                               <!-- <button ng-show="editPermission" class="btn btn-danger btn_full_width" ng-click="remove(item)"><span class="fa fa-trash-o"></span></button> -->
	                               <button ng-show="editPermission" class="btn btn-danger btn_full_width" ng-confirm-click="Are you sure to delete this task ?" confirmed-click="remove(item)"><span class="fa fa-trash-o"></span></button>
	                               <!-- <button class="btn btn-sm btn-danger" ng-confirm-click="Are you sure to delete this record ?" confirmed-click="removeUser($index)">Delete</button> -->
	                            </div>
	                        </div>
						</form>
					    </div>
				    </div>
	            </div>
	            <div class="col-md-12 t-p">
					 <div class="form-group">
						 <button ng-show="editPermission" class="btn btn-primary btn_full_width" ng-click="add()"><span class="fa fa-plus"></span> Add Task</button>
					 </div>
				</div> 
	            <div class=" col-md-12 col-sm-12 col-xs-12 t-p">
	                <div class="modal-footer">
	                    <button class="btn btn-default btn-rounded" ng-click="goToSecond()">Back</button>
	                    <button ng-show="btnPayment" class="btn btn-primary btn-rounded" ng-click="updateTask()">Save</button>
	                    <button ng-show="nextTask" class="btn btn-primary btn-rounded" ng-click="goToFourth()">Next</button>
	                </div>
	            </div>  
	        </tab>
	        <tab ng-show="paymentTab" ng-attr-active="payment">
	            <tab-heading>Payment</tab-heading>
	            <div><!-- class="conter-wrapper" -->			
	                <div class="">
		                <div class="col-md-12">
			                <div  id="printThisElement"  class="well wellb" style="display: inline-block;width: 100%;    margin-top: 15px;margin-bottom: 0px;background: #eee;border:1px solid #eee;" >
				                <div  class="invoice">
					                <div class="row invoice-logo">
						                <div class="col-md-6 dashy-left">
							                <a href="/"><i class="fa fa-paper-plane fa-2x Dashy"></i><span class="text text-muted">&nbsp; VROOM GARAGES </span>
							                </a>
						                </div>
						                <div class="col-md-6 dashy-right">
							                <p class="text-dark">
							                	<strong class="text-dark">Invoice Date: &nbsp;
							                	</strong>{{ date | date: 'MM/dd/yyyy'}}
							                	<br>
							                	<small class="text-light"></small></p>
						                </div>
					                </div>
					                <hr>
					                <div class="row">
						                <div class="col-md-4">
							                <h4>Client:</h4>
							                <div class="well">
								                <address>
									                <strong class="text-dark">{{orders.vehicle_owner_full_name}}</strong>
									                <br>
									                <strong title="Phone">Contact No:</strong> {{orders.vehicle_owner_phone_num}}
								                </address>
								                <address>
									                <strong class="text-dark">E-mail:</strong>
									                <a href="mailto:#">{{orders.vehicle_owner_email}}</a>
								                </address>
							                </div>
						                </div>
						                <div class="col-md-4">
						                </div>
						                <div class="col-md-4 pull-right payment-detals-wrap">
							                <h4>Vehicle Details:</h4>
							                <ul class="list-unstyled invoice-details padding-bottom-30 padding-top-10 text-dark">
								                <li>
									                <strong>Orders Id:&nbsp;</strong>{{orders._id}}
								                </li>
								                <li>
									                <strong>Vehicle No:&nbsp;</strong> {{orders.vehicle_num}}
								                </li>
								                <li>
									                <strong>Vehicle Brand:&nbsp;</strong>{{orders.vehicle_brand}}&nbsp;{{orders.vehicle_model}}
								                </li>
								                <li>
									                <strong>Orders Date:&nbsp;</strong>{{orders.create_date | date: 'MM/dd/yyyy'}}
								                </li>
								                <li>
								                    <strong>Payment Status:&nbsp;</strong>{{orders.payment_status || "Pendding"}}
	                                            </li>
							                </ul>
						                </div>
					                </div>
					                <hr>
					                <div class="row ">
						                <div class="col-sm-12 invoice-table">
							                <table class="table table-bordered table-striped">
								                <thead>
									                <tr>
										                <th> # </th>
										                <th> Task Description</th>
										                <th class="hidden-480">Inventory Detail</th>
										                <th class="hidden-480">Cost Price</th>
										                <th> Total </th>
									                </tr>
								                </thead>
								                <tbody>
									                <tr ng-repeat="item in orders.tasks">
										                <td> {{$index + 1}} </td>
										                <td> {{item.description}} </td>
										                <td class="hidden-480"> {{item.inventory_desc}} </td>
										                <td class="hidden-480"> {{item.sell_price}}</td>
										                <td class="hidden-480"> {{item.sell_price}} </td>
									                </tr>
								                </tbody>
							                </table>
						                </div>
					                </div>
					                <div class="row">
						                <div class="col-sm-12 invoice-block">
							                <ul class="list-unstyled amounts text-small" align="right">
								                <li>
									                <strong>Sub-Total:&nbsp;</strong>{{orders.sub_Amount | number:2}}
								                </li>
								                <li ng-repeat="tax in tax_data">
									                <strong>{{tax.tax_name}}({{tax.tax_percent}}%):&nbsp;</strong> {{tax.tax_amount | number:2}}
								                </li>
								                <li class="text-extra-large text-dark margin-top-15">
									                <strong>Total:&nbsp;</strong> {{orders.total_Amount | number:2}}
								                </li>
							                </ul>
							                <div>
								                <div class="col-sm-12 invoice-block">
									                <div  ng-show="btnPayment" class=" form-group hidden-print" >
									                    <div class="radio" align="right">
									                        <strong>Payment Type:&nbsp;</strong>
										                    <label style="padding-right: 5px;">
											                    <input type="radio" ng-model="orders.payment_type" value="Cash">Cash
										                    </label>
									                        <label style="padding-right: 5px;">
										                        <input type="radio" ng-model="orders.payment_type" value="Card">Card	
									                        </label>
								                        </div>
								                        <div ng-show="orders.payment_type == 'Card'" align="right">
									                        <strong>Transtion Id:&nbsp;</strong>
								
											                    <input type="text" ng-model="orders.trans_id" name="trans_id" style="width: 125px;">
										                    
								                        </div>
								                    </div>
									                <br>
									                <!--  ng-show="subbtn"  -->
									                <a ng-show="btnPayment" class="btn btn-rounded btn-primary btn-o hidden-print pull-right" ng-click="updatePayment()">Submit Your Invoice <i class="fa fa-check"></i></a> &nbsp;&nbsp;&nbsp;
									                <!--ng-show="printbutton"-->
									                <a ng-show="btnPrint" ng-print print-element-id="printThisElement" class="btn btn-bordered btn-primary hidden-print pull-right">Print <i class="fa fa-print"></i>
									                </a>
									               <!--<button class="btn btn-primary" ng-print print-element-id="printThisElement"><i class="fa fa-print"></i> Print</button>-->
								                </div>
							                </div>
					                	</div>
					                </div>
				                </div>
				            </div>
				            <div class="row">
						        <div class=" col-md-12 col-sm-12 col-xs-12 t-p">
					                <div class="modal-footer">
					                    <button class="btn btn-default btn-rounded" ng-click="goToThird()">Back</button>
					                    <button ng-show="nextPayment" class="btn btn-primary btn-rounded" ng-click="goToFifth()">Next</button>
					                </div>
					            </div>
				            </div>
			            </div>
		            </div>
	            </div>
		    </tab>
		    <tab ng-show="deliveryTab" ng-attr-active="delivery">
		       	<tab-heading>Delivery</tab-heading>
		       	<div class=" col-md-12 col-sm-12 col-xs-12 t-p">
		       		<div class="panel">
		       			<div class="panel-body">
		       				<div class="form-group">
				                <span>Delivery Status:</span>
				                <label for="ProductCategory">{{orders.delivery_status || "Not Deliver"}}</label>
	                        </div>
	                        <div ng-show="getDelAdd">
				                <div class="form-group">
				                	<span>Delivery Type:</span>
				                    <label for="ProductCategory">{{orders.delivery_type}}</label>
	                            </div>
	                            <div class="form-group">
	                        		<span>Delivery Date:</span>
	                         	    <label for="ProductCategory">{{orders.delivery_date | date: "MM/dd/yyyy"}}</label>
						        </div>
						        <div class="form-group">
	                            	<span>Delivery Time:</span>
	                         	    <label for="ProductCategory">{{orders.delivery_time | date: "HH:mm:ss"}}</label>
	                            </div>
	                            <div class="form-group">
	                            	<span>Delivery Address:</span>
	                         	    <label for="ProductCategory">{{orders.delivery_Address}}</label>
	                            </div>
	                            <div ng-show="btnDelivered" class="form-group">
	                                <a class="btn btn-rounded btn-primary btn-o hidden-print pull-right" ng-click="orderDelivered()">Delivered<i class="fa fa-check"></i></a> &nbsp;&nbsp;&nbsp;
	                            </div>  
	                        </div>
		       			</div>
		       		</div>
		       	</div>
		       	<div class=" col-md-12 col-sm-12 col-xs-12 t-p">
	                <div class="modal-footer">
	                    <button class="btn btn-default btn-rounded" ng-click="goToFourth()">Back</button>
	                </div>
	            </div>	
		    </tab>
		</tabset>
	</div>
</div>
<!-- <div><pre id="default-spacing">{{ orders | json }}</pre></div>
 -->


