<style type="text/css">
	.Nav_btn{
    padding: 6px 15px;
    color: #fff; 
    margin-top: 16px; 
    border: none; 
    margin-right: 15px;
	}
</style> 
<div class="page-title clearfix">
    <div class="navbar-header">       
        <a class="navbar-brand" ui-sref="orders"><i class="fa fa-list"></i>&nbsp;Order</a> <div class="solution">>>>&nbsp;</i>view</div>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right top-nav">
            <li ng-show="editOption">
                <a href class="dropdown-toggle admin-toggle" ng-click="editOrder()">
                <i class="fa fa-edit"></i>&nbsp;<span class="add">Edit</span>
                </a>                  
            </li>
        </ul>
    </div>
    <div class="right-admin right-admin_toggle mobile_visible">
        <ul>
            <li ng-show="editOption"><a href class="dropdown-toggle admin-toggle" ng-click="editOrder(orders._id)"><i class="fa fa-edit"></i></a></li>
        </ul>
    </div>    
</div>
<div class="page-title">
    <tabset class="primary-tabs">
        <tab ng-attr-active="general">
            <tab-heading>General</tab-heading>
            <form>
            <div class=" col-md-6 t-p">
                <div class="panel">
				    <div class="panel-body">
					    <div class="form-group">
							<label for="vehicle_Detail">VEHICLE DETAILS</label>

						</div>
						<div class="form-group">
							<label>Vehicle Number :</label>
							<span>{{orders.vehicle_num}}</span>
						</div>
						<div class="form-group">
							<label>Vehicle Brand :</label>
							<span>{{orders.vehicle_brand}}</span>
						</div>
						<div class="form-group">
							<label>Vehicle Model :</label>
							<span>{{orders.vehicle_model}}</span>
						</div>
						<div class="form-group">
							<label>Vehicle Image :</label>
                        </div>
                        <div class="form-group">
                        	<span>
								<img class="img-responsive img-thumbnail pull-centar" style="width: 170px; height: 170px;" src="images/{{orders.vehicle_img}}" alt="">
							</span>
                        </div>
				    </div>
			    </div>
            </div>
            <div class=" col-md-6 t-p">
                <div class="panel">
				    <div class="panel-body">
					    <div class="form-group">
							<label for="exampleInputPassword1">CLIENT DETAILS</label>
						</div>
						<div class="form-group">
							<label>Full Name :</label>
							<span>{{orders.vehicle_owner_full_name}}</span>
						</div>
						<div class="form-group">
							<label>Email Address :</label>
							<span>{{orders.vehicle_owner_email}}</span>
						</div>
						<div class="form-group">
							<label>Phone Number :</label>
							<span>{{orders.vehicle_owner_phone_num}}</span>
						</div>
				    </div>
			    </div>
            </div>
            </form>
            <div class=" col-md-12 col-sm-12 col-xs-12 t-p">
                <div class="modal-footer">
                    <button class="btn btn-primary btn-rounded" ng-click="goToSecond()">Next</button>
                </div>
            </div>
        </tab>
        <tab ng-attr-active="checklist">
        	<tab-heading>Checklist</tab-heading>
        	    <div class="col-md-12 col-sm-12 col-xs-12">
        		<div class="row">
        			<div class="col-md-3 t-p" ng-repeat="checklist in orders.checklists"> 
                        <div class="panel"  >
				            <div class="panel-body">
				                <div ng-show="false" class="form-group" style="border-bottom: 1px solid #e5e5e5;">
							        <span>{{$index+1}}</span> 
						        </div>
					            <div class="form-group" style="border-bottom: 1px solid #e5e5e5;">
							        <a ng-bind='checklist.checklist_item'></a>
						        </div>
						        <div class="form-group">
						        	<label>Status :</label>
									<span>{{checklist.checklist_item_condition}}</span>
						        </div>
						        <div class="form-group">
						        	<label>Notes:</label>
						        </div>
						        <div class="form-group">
						        	<span>{{checklist.checklist_item_notes}}
						        	</span>
						        </div>
				            </div>
			            </div>
                    </div>   
        		</div>
        	</div>
        	<div class=" col-md-12 col-sm-12 col-xs-12 t-p">
                <div class="modal-footer">
                    <button class="btn btn-default btn-rounded" ng-click="goToFirst()">Back</button>
                    <button class="btn btn-primary btn-rounded" ng-click="goToThird()">Next</button>
                </div>
            </div>
        </tab>
        <tab ng-attr-active="task">
        	<tab-heading>Task</tab-heading>
        	
        	<div class="col-md-4 t-p" ng-repeat="item in orders.tasks">
                <div class="panel">
				    <div class="panel-body">
					<form>
					<!-- ng-model="item.order_tasks_id" -->
					    <div class="form-group">
					    	<label>Task id :</label>
							<span>{{item.order_tasks_id}}</span>
						</div>
						<div class="form-group">
							<label>Task Description :</label>
							<span>{{item.description}}</span>
						</div>
						<div class="form-group">
							<label>Inventory Detail :</label>
							<span>{{item.inventory_desc}}</span>
						</div>
						<!-- <div class="form-group">
							<span>Cost Price :</span>
							<label>{{item.cost_price}}</label>
						</div> -->
						<div class="form-group">
							<label>Expanse:</label>
							<span>{{item.sell_price}}</span>
						</div>
						<div class="form-group">
							<label>Task Status :</label>
							<span>{{item.task_status}}</span>
						</div>
						<div class="form-group"> 
							<label>Task Start Date :</label>
							<span>{{item.start_date | date: "EEEE, MMMM d, y"}}</span>
						</div>
						<div class="form-group"> 
							<label>Task End Date :</label>
							<span>{{item.end_date | date: "EEEE, MMMM d, y"}}</span>
						</div>
                        <!-- <div class=" col-md-12 col-sm-12 col-xs-12 t-p" style="text-align: center; border-top: 1px solid #06c5ac;">
                            <div >
                               <button class="btn btn-danger btn-rounded" ng-click="remove(item)"><span class="fa fa-trash-o"></span></button>
                            </div>
                        </div> -->
					</form>
				    </div>
			    </div>
            </div>
            <div class=" col-md-12 col-sm-12 col-xs-12 t-p">
                <div class="modal-footer">
                    <button class="btn btn-default btn-rounded" ng-click="goToSecond()">Back</button>
                    <button class="btn btn-primary btn-rounded" ng-click="goToFourth()">Next</button>
                </div>
            </div>
           <!--  <div class="col-md-4 t-p">
				 <div class="form-group">
					 <button class="btn btn-primary btn-rounded" ng-click="add()"><span class="fa fa-plus"></span></button>
				 </div>
			</div> -->
			<!-- <div class=" col-md-12 col-sm-12 col-xs-12 t-p">
                <div class="modal-footer">
                    <button class="btn btn-default btn-rounded" ng-click="cancel()">Back</button>
                    <button class="btn btn-primary btn-rounded" ng-click="updateOrder()">Order Update</button>
                </div>
            </div> -->    
        </tab>
        <tab ng-show="paymentTab" ng-attr-active="payment">
                <tab-heading>Payment</tab-heading>
                <div class="conter-wrapper" id="printThisElement" >				
	                <div class="row"  >
		                <div class="col-md-12">
			                <div class="well wellb">
				                <div  class="invoice">
					                <div class="row invoice-logo">
						                <div class="col-md-6 dashy-left">
							                <a href="/"><i class="fa fa-paper-plane fa-2x Dashy"></i><span class="text text-muted">&nbsp; VROOM GARAGES </span></a>
						                </div>
						                <div class="col-md-6 dashy-right">
							                <p class="text-dark"><strong class="text-dark">Invoice Date: &nbsp;</strong>{{ date | date: "EEEE, MMMM d, y"}}<br><small class="text-light"></small></p>
						                </div>
					                </div>
					                <hr>
					                <div class="row">
						                <div class="col-md-4">
							                <h4>Client:</h4>
							                <div class="well">
								                <address>
									                <strong class="text-dark">{{orders.vehicle_owner_first_name}}&nbsp;{{orders.vehicle_owner_last_name}}</strong>
									                <br>
									                <strong title="Phone">Contact No:</strong> {{orders.vehicle_owner_phone_num}}
								                </address>
								                <address>
									                <strong class="text-dark">E-mail:</strong>
									                <a href="mailto:#">{{orders.vehicle_owner_email}}</a>
								                </address>
							                </div>
						                </div>
						                <div class="col-md-4">
						                </div>
						                <div class="col-md-4 pull-right payment-detals-wrap">
							                <h4>Vehicle Details:</h4>
							                <ul style="border-bottom: 0px;" class="list-unstyled invoice-details padding-bottom-30 padding-top-10 text-dark">
								                <li>
									                <strong>Orders Id:&nbsp;</strong>{{orders._id}}
								                </li>
								                <li>
									                <strong>Vehicle No:&nbsp;</strong> {{orders.vehicle_num}}
								                </li>
								                <li>
									                <strong>Vehicle Brand:&nbsp;</strong>{{orders.vehicle_brand}}&nbsp;{{orders.vehicle_model}}
								                </li>
								                <li>
									                <strong>Orders Date:&nbsp;</strong>{{orders.create_date | date: "EEEE, MMMM d, y"}}
								                </li>
								                <li>
								                    <strong>Payment Status:&nbsp;</strong>{{orders.payment_status || "Pendding"}}
                                                </li>
							                </ul>
						                </div>
					                </div>
					                <hr>
					                <div class="row ">
						                <div class="col-sm-12 invoice-table">
							                <table class="table table-bordered table-striped">
								                <thead>
									                <tr>
										                <th> # </th>
										                <th> Task Description</th>
										                <th class="hidden-480">Inventory Detail</th>
										                <th class="hidden-480">Cost Price</th>
										                <th> Total </th>
									                </tr>
								                </thead>
								                <tbody>
									                <tr ng-repeat="item in orders.tasks">
										                <td> {{$index + 1}} </td>
										                <td> {{item.description}} </td>
										                <td class="hidden-480"> {{item.inventory_desc}} </td>
										                <td class="hidden-480"> {{item.sell_price}}</td>
										                <td class="hidden-480"> {{item.sell_price}} </td>
									                </tr>
								                </tbody>
							                </table>
						                </div>
					                </div>
					                <div class="row">
						                <div class="col-sm-12 invoice-block">
							                <ul class="list-unstyled amounts text-small" align="right">
								                <li>
									                <strong>Sub-Total:</strong>{{orders.sub_Amount}}
								                </li>
								                <li>
									                <strong>VAT:</strong> 10%
								                </li>
								                <li class="text-extra-large text-dark margin-top-15">
									                <strong>Total:</strong> {{orders.total_Amount}}
								                </li>
							                </ul>
						                </div>
					                </div>
					                <div class="row">
						                <div class="col-sm-12 invoice-block">
							                <div class="form-group hidden-print" >
							                    <div class="radio" align="right">
							                        <strong>Payment Type:&nbsp;</strong>
								                    <label style="padding-right: 5px;">
								                    {{orders.payment_type}}
								                    </label>
						                        </div>
						                    </div>
							                <br>
							               <!--  <a class="btn btn-rounded btn-primary btn-o hidden-print pull-right" ng-click="CompleateOrder()">Pay<i class="fa fa-check"></i></a> &nbsp;&nbsp;&nbsp;
							                <a class="btn btn-rounded btn-primary btn-o hidden-print pull-right" ng-click="CompleateOrder()">Submit Your Invoice <i class="fa fa-check"></i></a> &nbsp;&nbsp;&nbsp;
							                <a ng-show="printbutton" ng-print print-element-id="printThisElement" class="btn btn-bordered btn-primary hidden-print pull-right">Print <i class="fa fa-print"></i>
							                </a> -->
							               <!-- <button class="btn btn-primary" ng-print print-element-id="printThisElement"><i class="fa fa-print"></i> Print</button>  -->
						                </div>
					                </div>
				                </div>
			                </div>
		                </div>
	                </div>
                </div>
                <div class=" col-md-12 col-sm-12 col-xs-12 t-p">
	                <div class="modal-footer">
	                    <button class="btn btn-default btn-rounded" ng-click="goToThird()()">Back</button>
	                    <button class="btn btn-primary btn-rounded" ng-click="goToFifth()">Next</button>
	                </div>
	            </div>
        </tab>
        <tab ng-show="deliveryTab" ng-attr-active="delivery">
            <tab-heading>Delivery</tab-heading>
            <div class="conter-wrapper">
                <div class="row"  >
		            <div class="col-md-12">
			            <div class="well wellb">
			                <div class="form-group">
			                	<label>Delivery Type:</label>
			                    <span>{{orders.delivery_type}}</span>
                            </div>
                            <div class="form-group">
                        		<label>Delivery Date:</label>
                         	    <span>{{orders.delivery_date | date: "EEEE, MMMM d, y"}}</span>
					        </div>
					        <div class="form-group">
                            	<label>Delivery Time:</label>
                         	    <span>{{orders.delivery_time | date: "hh:mm a"}}</span>
                            </div>
                            <div class="form-group">
                            	<label>Delivery Address:</label>
                         	    <span>{{orders.delivery_Address}}</span>
                            </div> 
                            <div class="form-group">
			                	<label>Delivery Status:</label>
			                    <span>{{orders.delivery_status}}</span>
                            </div>
                            </div>
                                                        <br>
                            <!-- <div class="form-group">
                                <a class="btn btn-rounded btn-primary btn-o hidden-print pull-right" ng-click="orderDelivered()">Delivered<i class="fa fa-check"></i></a> &nbsp;&nbsp;&nbsp;
                                <a class="btn btn-rounded btn-primary btn-o hidden-print pull-right" ng-click="updateDelivery()">Submit<i class="fa fa-check"></i></a>
                            </div> -->
                             <br>
			            </div>
			        </div>
			    </div>
			    <div class=" col-md-12 col-sm-12 col-xs-12 t-p">
	                <div class="modal-footer">
	                    <button class="btn btn-default btn-rounded" ng-click="goToFourth()">Back</button>
	                </div>
	            </div>    
            </div>	
        </tab>
    </tabset>
</div>
<!-- <div><pre id="default-spacing">{{ orders | json }}</pre></div> -->



