<style type="text/css">
    .Nav_btn{
    padding: 6px 15px;
    color: #fff; 
    margin-top: 16px; 
    border: none; 
    margin-right: 15px;
    }
</style> 
<div class="page-title clearfix">
	<div class="navbar-header">       
        <a class="navbar-brand" ui-sref="patner"><i class="fa fa-user"></i>&nbsp;Patner</a> <div class="solution">>>>&nbsp;</i>{{users.name}}</div>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right top-nav">
           <!--  <li>
                <a href class="dropdown-toggle admin-toggle" ng-click="InfoUser(users._id)">
                <i class="fa fa-info"></i>&nbsp;<span class="add">Info</span>
                </a>                  
            </li> -->
            <li>
                <a href class="dropdown-toggle admin-toggle" ng-click="editUser(users._id)">
                <i class="fa fa-edit"></i>&nbsp;<span class="add">Edit</span>
                </a>                  
            </li>
            <li>
                <a href class="dropdown-toggle admin-toggle" ng-click="performanceUser(users._id)" >
                <i class="fa fa-signal"></i><span class="add">&nbsp;Performance</span>
                </a>                  
            </li>
        </ul>
    </div>
</div>
<div class="modal-body">
    <div class="panel">
        <div class="panel-body">
            <label for="vehicle_Details">PATNER DETAILS</label>
            <div class="row">  
                <div class="col-md-6">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><b>User Name:</b></td>
                                <td>{{users.user_name}}</td>
                            </tr>
                            <tr>
                                <td><b>Email Address:</b></td>
                                <td>{{users.email}}</td>
                            </tr>
                            <tr>
                                <td><b>Status:</b></td>
                                <td>{{users.active}}</td>
                            </tr>
                            <tr>
                                <td><b>Full Name:</b></td>
                                <td>{{users.name}}</td>
                            </tr>
                            <tr>
                                <td><b>Description:</b></td>
                                <td>{{users.description}}</td>
                            </tr>
                        </tbody>
                    </table>   
                </div>
                <div class="col-md-6">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><b>Image:</b></td>
                                <td>
                                    <img style="width: 170px; height: 170px;" class="img-responsive img-thumbnail pull-centar" src="images/{{users.user_img}}" alt="">
                                </td>
                             </tr>
                        </tbody>
                    </table>     
                </div>
            </div>
            <div class="row">  
                <div class="col-md-6">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td><b>Address line 1:</b></td>
                                <td>{{users.addr_line_1}}</td>
                            </tr>
                            <tr>
                                <td><b>Address line 2:</b></td>
                                <td>{{users.addr_line_2}}</td>
                            </tr>
                            <tr>
                                <td><b>Address line 3:</b></td>
                                <td>{{users.addr_line_3}}</td>
                            </tr>
                            <tr>
                                <td><b>Address line 4:</b></td>
                                <td>{{users.addr_line_4}}</td>
                            </tr>
                            <tr>
                                <td><b>Country:</b></td>
                                <td>{{countryName}}</td>
                            </tr>
                            <tr>
                                <td><b>State :</b></td>
                                <td>{{stateName}}</td>
                            </tr>
                            <tr>
                                <td><b>City:</b></td>
                                <td>{{cityName}}</td>
                            </tr>
                        </tbody>
                    </table>       
                </div>
                <div class="col-md-6">
                    <table class="table">
                        <tbody> 
                            <tr>
                                <td><b>Cell Phone Number 1:</b></td>
                                <td>{{users.cell_phone_1}}</td>
                            </tr>
                            <tr>
                                <td><b>Cell Phone Number 2:</b></td>
                                <td>{{users.cell_phone_2}}</td>
                            </tr>
                            <tr>
                                <td><b>Work Phone Number 1:</b></td>
                                <td>{{users.work_phone_1}}</td>
                            </tr>
                            <tr>
                                <td><b>Work Phone Number 2</b></td>
                                <td>{{users.work_phone_2}}</td>
                            </tr>
                        </tbody>
                     </table>
                </div>
            </div>   
        </div>
    </div>    
</div>

